* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#00174d, #000000);
}
.select-box,
.play-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.select-box {
    background: #fff;
    padding: 20px 25px 25px;
    border-radius: 10px;
    max-width: 330px;
    width: 100%;
    display: none;
}

.select-box header {
    font-size: 2.3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}

.select-box .title {
    font-size: 1.8rem;
    font-weight: 500px;
    margin: 20px 0;
}

.select-box .options {
    display: flex;
    width: 100%;
}

.options button {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.8rem 0;
    border: none;
    outline: none;
    background-image: linear-gradient(#00174d, #000000);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.options button:hover {
    transform: scale(0.95);
}

.options button.playerX {
    margin-right: 5px;
}
.options button.playerO {
    margin-left: 5px;
}

.play-board .details {
    background: #fff;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.play-board .details .players {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.play-board .details span {
    background: red;
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    font-size: 19px;
}
.play-board .play-area {
    margin-top: 2rem;
}
.play-board section {
    display: flex;
}
.play-board section span {
    display: block;
    margin: 2px;
    height: 8rem;
    width: 8rem;
    background: #fff;
    border-radius: 5px;
}
.play-board .play-area {
    margin-top: 2rem;
}
